#aboutMe{
    height: 100vh;
    display:flex;
    flex-direction: row;
}

.sliderWrapper{
    position:relative;
    height: 100vh;
    width: 40vw;
    background-color: rgb(9, 9, 9);
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}

.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#aboutMe img {
    object-fit: cover;
    aspect-ratio: 3/4;
    max-width: 100%;
    min-width: 40vw;
    min-height: 100vh;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: .5;
    background-color: white;
    transition: opacity ease 1s;
}
.slider-nav a:hover{
    opacity: 1;
}

.aboutMeContent{
    overflow: hidden;
    scrollbar-width: 10px;
    position: relative;
    flex: 1;
    padding-inline: 5rem;
    align-content:center;
}

.aboutMeContent .title{
    padding-top: 3rem;
    font-size: 35px;
}

.pWrapper {
    background-color: transparent;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    overflow: scroll;
    max-height: 70vh;
    height: fit-content;

    padding-inline: 1rem;
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
    transition: 1s;
}


.aboutMeContent br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 25px; /* change this to whatever height you want it */
}


.jobTitle{
    position: relative;
    color: white;
    font-size: 25px;
    margin-bottom: 70px;
}

.jobTitle span{
    top:0;
    margin-top: 10px;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-bottom: 5px;
    letter-spacing: 5px;
    position: absolute;
    background-color: black;
    overflow: hidden;
    animation: animate 12s linear infinite;
    opacity: 0;
}
.jobTitle span:nth-child(1){
    animation-delay: 0s;
}
.jobTitle span:nth-child(2){
    animation-delay: 4s;
}
.jobTitle span:nth-child(3){
    animation-delay: 8s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    2%{
        opacity: 1;
        transform: translateY(0px);
    }
    18%{
        opacity: 1;
        transform: translateY(0px);
    }
    30%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 0;
        transform: translateY(20px);
    }
    
}

@media(max-width: 1000px){
    #aboutMe{
        height: fit-content;
        flex-direction: column;
    }

    .sliderWrapper{
        display: block;
        height: 50vh;
        width: 100%;
    }
    #aboutMe img {
        aspect-ratio: 4/3;
        object-fit: cover;
        min-height: 50vh;
        min-width: 100vw;
        max-width: 100vw;
    
    }
    .aboutMeContent{
        display: inline;
        padding-inline: 2rem;
        height: fit-content;
        justify-content: flex-start;
    }
    .pWrapper{
        margin-top: 60px;
        padding-inline: 1rem;
        height: fit-content;
        max-height: fit-content;
        margin-bottom: 4rem;
    }
    .aboutMeContent p{

        text-align: left;
    }
}

@media(max-width: 511px){
}