#experience{
    height: fit-content;
    position: relative;
    overflow: hidden;
    padding-bottom: 4rem;
}

.timeline{
    height: fit-content;
    width: fit-content;
    padding-left: 6rem;
    padding-right: 3rem;
    transition: all 1s;
}

.timeline .child{
    z-index: 1;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    transition: 1s;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    padding-top: 3rem;
    filter: blur(2px);
}


.timeline .child .date{
    width: 15ch;
    letter-spacing: 5px;
    text-align: right;
    align-content: center;
}

.timeline .child .dot{
    border-color: #de9a34;
    background-color: white;
    border-width: 2px;
    border-style: double;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 15px;
    transition: background-color 1s;

}

.timeline .child .content{
    height: fit-content;
}

.timeline .child h3{
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

.timeline .child h4{
    font-size: medium;
    color: gray;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 10px;
}

.timeline .child h5{
    font-size: medium;
    font-weight: 100;
    margin-bottom: 10px;
}

.timeline .child a{
    font-style: italic;
    font-size: small;
    color: #de9a34;
}

.timeline .child:hover{
    opacity: 1;
    transform:translateY(-10%);
    filter: blur(0);
}
.timeline .child:hover .dot{
    background-color: #de9a34;
}

.filterBar{
    padding-top: 3.5rem;
    text-align: right; 
    height: fit-content; 
    padding-inline: 40px;
    overflow: hidden;
    position: relative;
}

.btnBlack{
    background-color: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    border-radius: 15px;
    border-width: 0cap;
    padding: 1.5rem;
    margin: 1rem;
    transition: .4s;
    cursor: pointer;
}

.btnBlack:hover{
    background-color: rgb(31, 31, 31);
    letter-spacing: 5px;
}
.btnBlack:active{
    background-color: #de9a34;
}

.btnBlack.selected{
    background-color: #de9a34;
}

@media(max-width: 770px) {
    #experience{
        padding-inline: 2rem;
    }

    .timeline{
        margin-top: 0;
        padding: 0%;
    }
    .timeline .child{
        filter: blur(0);
        display: grid;
        margin-bottom: 2rem;
        grid-template-areas: 
        'dot date'
        'dot content';
    }

    .timeline .child .date{
        grid-area: date;
        width: 100%;
        text-align: left;
    }

    .timeline .child .dot {
        grid-area: dot;
        margin-right: 2rem;
    }
    .timeline .child .content{
        grid-area: content;
    }
    .filterBar{
        padding-top: 5rem;
        text-align: center;
        padding-inline: 0px;
        margin: 0;
    }
    .btnBlack{
        font-size: 10px;
        margin: 5px;
        padding: 10px;
    }
}

.line {
    display:inline;
    background-color: #de9a34;
    width:1px; 
    height: 100%; 
    position:absolute;
    filter: blur(1px);
    z-index: 0;
}
