footer{
    height: fit-content;
    position: relative;
    display: flex;
    background-color: #0f0f0f;
    justify-content: center;
    text-align: center;
    padding-top: 0;
    padding: 2rem;
    padding-bottom: 4rem;
}

footer svg{
    padding-right: 0%;
}

footer a{
    margin: 6px;
}

footer .right a, .left a{
    font-size: 10px;
    display: flex;
    color: white;
    margin-left: 0;
}

footer .socialLinks svg{
margin-top: 1.5rem;
opacity: .5;
transition: all .2s;
}

footer .content{
    width: fit-content;
}

footer .right{
    justify-content: right;
    text-align: right;
    justify-items: end;
    align-content: center;
}

footer .left{
    text-align: start;
    justify-content: left;
    align-content: end;
    margin-bottom: 1.7rem;
}

footer .socialLinks svg:hover{
    opacity: 1;
    margin-top: 0;
    margin-bottom: 5px;
}

footer h3{
    color: white;
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media(max-width: 800px){
    footer{
        margin: 0%;
        padding: 0%;
        display: grid;
        grid-template-areas: 
        'socials'
        'resources'
        'sitemap';
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        text-align: center;
        flex-direction: column;
        padding-bottom: 4rem;
    }

    footer .right, .left{
        justify-content: center;
        text-align: center;
        justify-items: center;
        align-content: center;
    }


    footer .left{
        grid-area: resources;
    }
    footer .right{
        grid-area: sitemap;
    }


    footer .socialLinks{
        grid-area: socials;
        margin-bottom: 2rem;
    }
    
}