#portfolio{
    background-color: rgb(9, 9, 9);
    color: white;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: 100px;
    background-repeat: repeat;
    box-shadow: 2px 2px 10px #00000082;
}

#portfolio .title{
    align-items: end;
    padding-left: 6rem;
    height: 15vh;
    font-size: 15px;
    width: fit-content;
    letter-spacing: 10px;
    text-decoration-line:line-through;
    display: flex;
    text-transform: uppercase;
}

#portfolio p{
    text-decoration: none;
    padding-left: 6rem;
    font-size: 10px;

}

#portfolio .container{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    overflow: auto;
    object-fit: contain;
    position: relative;
}

#portfolio a{
    text-decoration: none;
    color: white;
    
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox{
    position: relative;
    width: 100px;
    height: 65vh;
    margin: 10px;
    border-radius: 100px;
    background: url(../assets/images/portfolio/design/0.jpg);
    background-size: cover;
    transition: width 1s;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    
}

.imgBox:nth-child(2){
    background: url(../assets/images/portfolio/illustration/2.jpg);
    background-size: cover;
    background-position: 20%;
}

.imgBox:nth-child(3){
    background: url(../assets/images/portfolio/modeling/1.jpg);
    background-size: cover;
    background-position: 80%;
}

.imgBox:nth-child(4){
    background: url(../assets/images/portfolio/programming/1.png);
    background-size: cover;
    background-position: 8%;
}

.imgBox:nth-child(5){
    background: url(../assets/images/portfolio/theater/16.JPG);
    background-size: cover;
    background-position: 50%;
}

.imgBox h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
}

.imgBox:hover{
    width: 400px;
    cursor: pointer;
}

.imgBox:hover h3{
    opacity: 1;
}

.parallax {
    position: absolute; /* Use fixed positioning to make it cover the entire screen */
    top: 0;  /* Start from the top of the viewport */
    left: 0; /* Start from the left side of the viewport */
    right: 0; /* Ensure it spans the full width */
    height: 100%; /* Ensure it covers the entire height of the viewport */
    width: 120%;
    background: url(../assets/images/longLogoChain.png);
    z-index: 0; /* Make sure it stays behind the other elements */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

@media(max-width: 1000px){
    #portfolio .title{
        justify-content: center;
        padding: 0%;
        width: 100%;
        text-align: center;
    }
    #portfolio p{
        text-align: center;
        width: 100%;
        padding: 0%;
    }
}

@media (max-width: 900px) {
    #portfolio{
        text-align: center;
        height: fit-content;
    }

    #portfolio .container{

        height: fit-content;
        

    }

    .parallax {
        background: url(../assets/images/longLogoChainVertical.png);
       width: 100%;
        background-position: 0%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    

    #portfolio p{
        margin-bottom: 50px;
    }
    
    .gallery{
        margin-block: 3rem;
        flex-direction: row;
        width: 80vw;
        height: fit-content;
        display: block;
        text-align: center;
    }

    .imgBox{
        position: relative;
        margin-top: 20px;
        width: 250px;
        height: 250px;
        border-radius: 100px;
        background-size: cover;
        transition: width 1s, margin-top 1s, margin-bottom 1s;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: inline-flex;
        font-size: 10px;
        font-style: normal;
    }

    .imgBox h3{
        letter-spacing: 5px;
        opacity: 1;
    }
    
    .imgBox:hover{
        margin-top: 0;
        width: 280px;
        margin-bottom: 20px;
    }
    
    
    
}